#div1 {
  border-style: solid;
  margin: 500px;
  height: 300px;
  width: 300px;
  background-color: blue;
}
#div2 {
  background-color: blue;
  border-style: solid;
  height: 0;
  width: 0;
  border: solid 30px;
  border-color: transparent transparent aqua transparent;
  justify-content: ;

}
#div3 {
  background-color: blue;
  border-style: solid;
  height: 0;
  width: 0;
  border: solid 30px;
  border-color: transparent transparent aqua transparent;
  justify-content: center;
}
#div4 {
  background-color: blue;
  border-style: solid;
  height: 0;
  width: 0;
  border: solid 30px;
  border-color: transparent transparent aqua transparent;
}